@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Noto+Sans+KR:wght@100;400;700&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,900&display=swap&subset=korean');*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

div{
	display: block;
}

body{
	font-family: 'Noto Sans KR', sans-serif;
}


/*-----구조-----*/

#root{
	/*background: skyblue;*/
	font-family: 'Noto Sans KR', sans-serif;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
}

.box{
	background-color: yellow;
}

.box-navbar{
	background-color: black;
    width: 35vw;
    height: 100%;
    min-width: 336px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;    
}

.box-contents{
	background-color: white;
	width: 65vw;
	height: 100%;
	min-width: 624px;
    min-height: 100vh;
}

.contents{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}


.img_container{
	/*background-color: blue;*/
}

/*@media(min-width: 1440px){
	.box-navbar{
		position: fixed;
		float: left;
	}
	.box-contents{
		float: right;
	}

	.menu{
		font-size: 120px;
	}

}*/

@media(min-width: 992px){
	.box-navbar{
		position: fixed;
		float: left;
	}
	.box-contents{
		float: right;
	}
}

@media(max-width: 992px){
	.box-navbar{
		position: relative;
		float: left;
		min-width: 100vw;
	}
	.box-contents{
		position: relative;
		float: left;
		min-width: 100vw;
	}
}

@media(max-width: 768px){
	.box-navbar{
		position: relative;
		float: left;
		min-width: 100vw;
	}
	.box-contents{
		position: relative;
		float: left;
		min-width: 100vw;
	}
}

/*-----디자인-----*/

.navbar{
	margin-left: auto;
	margin-right: auto;
}

.menu{
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	line-height: 100px;
	margin-top: 260px;
	margin-bottom: 48px;
}

/*.menu{
	text-align: center;
	font-size: 120px;
	font-weight: bold;
	line-height: 76px;
	margin-top: 288px;
	margin-bottom: 100px;
}*/

.menu a{
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
}

.copy{
	text-align: center;
	font-size: 10px;
	opacity: 0.7;
}

.header{
	/*background-color: red;*/
	width: 35vw;
	height: 100px;
	/*overflow: hidden;*/
}

.logo{
	font-family: 'Bad Script', cursive;
	margin-left: 20px;
	margin-top: 20px;
	/*background-color: yellow;*/
	display: inline-block;
	position: relative;
	float: left;
	color: white;
}

.header img{
	margin-top: 0px;
	overflow: hidden;
	padding-top: 36px;
	padding-left: 110px;
	position: absolute; top:0; left: 0;
	width: 100%;
	height: 56px;
	align-content: center;
}

.copy{
	color: rgba(255,255,255,0.8);
}

.card{
	width: 640px;
	height: 356px;
	border: 1px solid black;
    box-shadow: 12px 12px 0 0;
    margin: 15% auto;
}

.contents{
	margin-left:auto;
	margin-top: auto;
}

.label_con{
	margin-top: 200px;
	margin-left: 300px;
	float: left;
}

.desc_con{
	margin-top: 200px;
	margin-left: 60px;
	float: left;
}

.label{
	font-weight: 700;
	font-size: 16px;
	line-height: 26px;
}

.desc{
	font-weight: 100;
	font-size: 16px;
	line-height: 26px;
}

.hello{
	margin-top: -100px;
	text-align: center;
	font-size: 40px;
	font-weight: 100;
}

/*---hover---*/

.menu a:hover{
	text-decoration: none;
	/*background-color: lime;
*/	opacity: 1;
}

/*.menu a:hover{
	text-decoration: none;
	background-color: lime;
	opacity: 0.4;
	text-shadow: #ffffff 0px 0px 8px;
}*/